In [1]:
from models.cifar_resnet import cifar_resnet
import torch
from pprint import pprint

In [2]:
cresnet8 = cifar_resnet(variant=8).to(torch.device('cuda'))
cresnet8.eval()
print('Initialised resnet for evaluation')

Initialised resnet for evaluation

In [3]:
from fed_df_data_loader.get_crops_dataloader import get_distill_imgloader

distill_dataloader = get_distill_imgloader('./data/single_img_crops/crops', dataset_name='cifar10', batch_size=1024)

In [4]:
from strategy.clustering import cluster_embeddings

In [5]:
device = torch.device('cuda')
test_df,score = cluster_embeddings(dataloader=distill_dataloader, model=cresnet8, device=device, seed=42)

In [6]:
print(score)
test_df.head()

5903.41796875

,img,cluster,cluster_dist
img_no,,,
0,[[[[-2.390296 -2.4290657 -2.4290657 -2.429...,6,0.252349
1,[[[[ 1.4479177 1.5836121 0.8469853 2.126...,5,0.339305
2,[[[[-2.4290657 -2.4096808 1.4673026 1.622...,5,0.367668
3,[[[[-0.8395026 -0.95581204 0.24605286 1.215...,2,0.243068
4,[[[[ 1.5836121 1.370378 0.90514 0.827...,5,0.260242

In [7]:
from strategy.clustering import prune_clusters

In [10]:
test_df2 = prune_clusters(test_df,n_crops=3000,heuristic_percentage="60-40")
print(len(test_df2))
test_df2.value_counts('cluster')

3000

cluster
7    604
4    533
2    287
3    275
5    267
0    245
1    221
6    213
8    205
9    150
dtype: int64

In [11]:
grp8 = test_df2.groupby('cluster').get_group(8).sort_values(by='cluster_dist')
grp8.head(2)

,img,cluster,cluster_dist
img_no,,,
1391,[[[[2.01008 2.281469 2.3202388 2.4171634 2....,8,0.162168
160,[[[[2.514088 2.3977785 2.1651595 2.514088 ...,8,0.186152

In [12]:
grp8.tail(2)

,img,cluster,cluster_dist
img_no,,,
337,[[[[ 0.12974337 0.16851321 0.18789811 0.168...,8,1.476870
69,[[[[ 2.514088 2.514088 2.4559333 2.417163...,8,2.171137